{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="text-center">{{ title }}</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('ordering_index') }}">Обратно</a>
        </li>
    </ul>
{% endblock %}
